.default-pg-box, .payment-content{
    background-color: #E6F0F6;
    border-radius: 10px;
    padding-bottom: 35px;
    margin-right: 7px;
    box-shadow: 5px 5px 5px rgb(231, 230, 230);
}
.default-pg h1{
   font-size: 38px;
   font-weight: 500;
}
.default-pg h2{
    font-size: 32px;
    color: #0967AF;
    margin-bottom: 40px;
}
.default-pg h3{
    margin-bottom: 12px;
}
.default-content {
    margin-bottom: 32px;
}
.default-content p{
    font-size: 18px;
}

.payment-content h2{
    font-family: Playfair Display;
    font-size: 25px;
    letter-spacing: 0.64px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
